{% extends 'base.html' %}
{% load static %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
    <div class="item-container">
        <div class="item">
            <h2>{{ object.name }}</h2>
            <p>Seats: {{ object.seats }} </p>
            <p>Screen size: {{ object.screen_size }}</p>
            <p>Screen type: {{ object.screen_type }}</p>
        </div>
    </div>
    <div class="button-link">
        <a href="{% url 'shows:update_hall' object.pk %}">Change hall info</a>
    </div>
    <h2>Movie Shows in this Hall</h2>
    {% if shows %}
        <div class="item-container">
            {% for show in shows %}
                <div class="item">
                <h2>{{ show }}</h2>
                <img src="



                        {% if show.movie.poster %}{{ show.movie.poster.url }}{% else %}{% static "picture_palace_hub/img/movie_poster.jpg" %}{% endif %}"
                     alt="Movie poster">
                <p>Movie: {{ show.movie.title }} </p>
                <p>Description: {{ show.movie.description }}</p>
                <p>Movie duration: {{ show.movie.duration_in_minutes }} min.</p>
                <p>Director: {{ show.movie.director }}</p>
                <p>Total seats: {{ show.movie_hall.seats }}</p>
                <p>Sold seats: {{ sold_seats }}</p>
                <p>Price: {{ show.ticket_price }}</p>
                <p>Start: {{ show.start_time }}</p>
                <p>End: {{ show.end_time }}</p>
            {% endfor %}
            </div>
        </div>

    {% else %}
        <p>Sorry, it seems there are no shows in this hall yet.</p>
    {% endif %}

{% endblock %}
