{% extends 'base.html' %}
{% load static %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags == 'success' %} class="success-message"{% elif message.tags == 'error' %}
                                                      class="error-message"{% endif %}>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="item-container">
        <div class="item">
            <h2>{{ object.name }}</h2>
            <p>Seats: {{ object.seats }} </p>
            <p>Screen size: {{ object.screen_size }}</p>
            <p>Screen type: {{ object.screen_type }}</p>
        </div>
    </div>
    <div class="button-link">
        <a href="{% url 'shows:update_hall' object.pk %}">Change hall info</a>
        <a href="{% url 'shows:delete_hall' object.pk %}">Delete this hall</a>
    </div>

    <h2>Movie Shows in this Hall</h2>
    {% if shows %}
        <div class="show-container">
            {% for show in shows %}
                <div class="item-show">
                    <h2><a href="{{ show.get_absolute_url }}">{{ show }}</a></h2>
                    <p>Movie: {{ show.movie.title }} by {{ show.movie.director }}</p>
                    <p>Total seats: {{ show.movie_hall.seats }}</p>
                    <p>Sold seats: {{ sold_seats }}</p>
                    <p>Price: ${{ show.ticket_price }}</p>
                    <p>Start: {{ show.start_time|time:"H:i" }}</p>
                    <p>End: {{ show.end_time|time:"H:i" }}</p>
                </div>
            {% endfor %}
        </div>

    {% else %}
        <p>Sorry, it seems there are no shows in this hall yet.</p>
    {% endif %}

{% endblock %}
