{% extends 'base.html' %}

{% block title %}My Profile{% endblock %}

{% block content %}
    <h2>My Orders</h2>
    <div class="item-container">
        <table id="orders">
            <tr>
                <th>Order ID</th>
                <th>Movie</th>
                <th>Ticket Number</th>
                <th>Date</th>
                <th>Cost</th>
            </tr>
            {% for order in orders %}
                <tr>
                    <td>{{ order.pk }}</td>
                    <td>{{ order.movie_show.movie.title }}</td>
                    <td>{{ order.seat_quantity }}</td>
                    <td>{{ order.ordered_at }}</td>
                    <td>{{ order.total_cost }}</td>
                </tr>
            {% endfor %}

        </table>
    </div>
{% endblock %}
