<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Picture Palace Hub{% endblock %}</title>
    <link rel="icon" href="{% static 'picture_palace_hub/img/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'picture_palace_hub/img/favicon.ico' %}" type="image/x-icon">
    <link href="{% static "picture_palace_hub/css/base.css" %}" rel="stylesheet">

</head>

<body>
<header>
    <h1>PICTURE PALACE HUB</h1>
</header>

<nav class="navigation">
    <ul>
        <li><a href="{% url 'shows:hall_list' %}">HALLS</a></li>
        <li><a href="{% url 'shows:show_list' %}">SHOWS</a></li>
        <li><a href="{% url 'shows:movie_list' %}">MOVIES</a></li>
        <li><a href="{% url 'shows:show_list' %}?day=today">TODAY</a></li>
        <li><a href="{% url 'shows:show_list' %}?day=next_day">TOMORROW</a></li>
    
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'users:logout' %}">LOG OUT</a></li>
            <li><a href="{% url 'users:profile' user.pk %}">PROFILE</a></li>

        {% else %}
            <li><a href="{% url 'users:login' %}">SIGN IN</a></li>
            <li><a href="{% url 'users:register' %}">SIGN UP</a></li>
        {% endif %}
    </ul>
</nav>

<div class="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
