:root {
    --background-image: url('../img/cinema_bckgrnd.jpg');
}

body {
    font-family: sans-serif;
    color: antiquewhite;
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-size: cover;
}
h2, h2 a {
    color: burlywood;
    text-shadow: 2px 2px 4px #000000;

}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: brown;
}

.navigation li {
    float: left;
}

.navigation li a {
    display: block;
    color: navajowhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: saddlebrown;
    color: antiquewhite;
    transform: scale(1.10);
}

.item img {
    width: 200px;
    height: 300px;
    float: left;
    padding: 10px;
}

.item-container, .form-container {
    display: flex;
    background-color: rgba(204, 159, 120, 0.3);
    padding: 10px;
    margin: 20px;

}

.item p {
    padding: 5px;
}

.hall-link a {
    text-decoration: none;
    text-shadow: 2px 2px 4px #000000;
}

.hall-link a:visited {
    color: whitesmoke;

}

.item-container:hover, .form-container:hover {
    background-color: rgba(204, 159, 120, 0.5);
}

.button-link a{
    display: inline-block;
    margin: 30px;
    padding: 20px 40px;
    background-color: rgb(204, 159, 120);
    color: antiquewhite;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
}

.button-link a:hover{
    transform: scale(1.2);
}
